<div  id="main-div">
    <!-- <link rel="stylesheet" href="static/angular/assets/css/components/meetingdetails.css"> -->
<!--	<div class=" breadcrumbSection">-->
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-sm-12">-->
<!--					<ol class="breadcrumb">-->
<!--						<li class="breadcrumb-item" *ngFor="let item of bread_crumb.items">-->
<!--							<a routerLink="{{item.link}}">-->
<!--								{{item.title}}-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="breadcrumb-item">{{bread_crumb.title}}</li>-->
<!--					</ol>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<iframe id="record_edit_iframe" [src]="url"></iframe>


</div>
